* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(170, 221, 176);
  height: 100vh;
  font-family: "Libre Baskerville", serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 40px;
  font-weight: bold;
  color: rgb(11, 61, 61);
}

form {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  border-radius: 35px;
}

form div {
  margin: 10px 0;
}

form label {
  display: block;
  color: #fff;
  font-size: 15px;
}

form input {
  padding: 5px;
  border-radius: 4px;
  border: none;
  width: 80%;
  margin-top: 5px;
}

form button {
  background-color: rgb(4, 117, 98);
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

form button:hover {
  background-color: rgb(11, 61, 61);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.alert {
  color: rgb(172, 12, 12);
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
}
