@use "config/reset";
@use "config/variaveis";

@mixin container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: variaveis.$bgColor;
}

header {
  background-color: variaveis.$secColor;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 15px;

  .container {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    .menu {
      display: flex;

      li {
        font-weight: bold;
        margin-left: 24px;
        list-style: variaveis.$styleList;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

section {
  padding: 56px 0;

  .container {
    @include container();

    h2 {
      text-align: center;
    }

    .products {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, 32.66%);
      column-gap: 1%;
      row-gap: 4%;
      width: 100%;
      text-align: center;

      li {
        list-style: variaveis.$styleList;
      }

      .product-item img {
        width: 100%;
        border-radius: 16px;
      }

      .product-button {
        display: block;
        background-color: #44bd32;
        color: #fff;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;
      }

      .product-button:hover {
        background-color: #4cd137;
      }
    }
  }
}

@media screen and (max-width: variaveis.$tablet) {
  section .container {
    max-width: 80%;

    .products {
      grid-template-columns: repeat(2, 48.5%);
      column-gap: 3%;
    }
  }
}

@media screen and (max-width: variaveis.$mobile) {
  section .container .products {
    display: block;

    .product-item {
      margin-bottom: 32px;
    }
  }
}
